<div class="row">
    <div class="col-md-6">
        <div id="referring-source-chart" style="height: 300px;"></div>
    </div>
    <div class="col-md-5 col-md-offset-1" id="referringSourceInfo">
    </div>
</div>
<div class="pull-right">
    <select id="referringSourceSelector">
        {{#each goals}}
            <option value="{{index}}" {{#if chosen}}selected{{/if}}>{{goalName}}</option>
        {{/each}}
    </select>
</div>

<div class="row">
    <div class="table-scrollable">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Источник</th>
                <th>Визиты</th>
                <th>Целевые визиты</th>
                <th>Конверсия</th>
            </tr>
            </thead>
            <tbody>
            {{#each referringSources}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{totalVisits}}({{totalVisitsChangePercent}})</td>
                    <td>{{totalGoalVisits}}({{totalGoalVisitsChangePercent}})</td>
                    <td>{{conversion}}({{conversionChangePercent}})</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>