<div id="error-box"></div>
<div class="row site-row">
    <div class="col-md-4 bold">Название проекта</div>
    <div class="col-md-8 bold">Последнее обновление</div>
</div>
<div id="projects-list"></div>