<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="portlet light ">
            <div class="row site-text-vertical">
                <div class="col-md-4 caption-subject font-green-haze bold uppercase"><%= name %></div>
                <div class="col-md-8 status-box"></div>
            </div>
        </div>
    </div>
</div>