<div class="col-md-5 loading">
    <img src="/images/loading.gif"/>
</div>
<div class="col-md-5 awaiting" style="display: none;">
    <h3>Ожидает обработки...</h3>
</div>
<div class="col-md-12 project-selector" style="display: none;">
    <div class="row">
        <div class="col-md-4"><%= date %></div>
        <div class="col-md-6">
            <span class="glyphicon glyphicon-refresh"></span>
            <a href="#" class="reload">Обновить отчет</a>
        </div>
        <div class="col-md-2"><a href="summary.html#id/<%= summaryId %>">
            <button type="button" class="btn green-meadow">Смотреть отчет</button>
        </a></div>
    </div>
</div>