<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="portlet light ">
            <div class="row">
                <div class="col-md-9">
                    <h2><%= reportName %></h2>
                </div>
                <div class="pull-right"><select class="samplingSelector"></select></div>
            </div>
            <div class="reportContent"></div>
        </div>
    </div>
</div>

