<div class="table-scrollable">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>url</th>
            <th>количество переходов</th>
            <th>среднее время на странице</th>
            <th>показатель отказов</th>
        </tr>
        </thead>
        <tbody>
        {{#each pages}}
            <tr>
                <td>{{siteName}}</td>
                <td>{{visits}}</td>
                <td>{{bounceRate}}</td>
                <td>{{avgVisitDurationSeconds}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>