.logo {
    display: inline-block;
    width: 94px;
    height: 34px;
    background-image: url("../../images/header-logo-lg.png");
}

.registration-link {
    padding-right: 8px;
    font-size: 16px;
    font-family: "Roboto";
    color: rgb(241, 121, 122);
    line-height: 27px;
}

.registration-link:hover {
    text-decoration: none;
}

.container-title {
    margin-top: 50px;
    margin-bottom: 50px;
    color: #000;
    font-size: 28px;
    font-weight: bold;
    font-family: "Roboto";
    text-transform: uppercase;
    line-height: 1.429;
    text-align: center;
}

.cn {
    display: table-cell;
    height: 300px;
    vertical-align: middle;
    text-align: center;
}

.inner {
    display: inline-block;
    width: 200px;
    height: 200px;
}

.reason-height {
    height: 336px;
    padding-top: 140px;
}

.for-who {
    margin-top: 100px;
    background: #f1787a;
    width: 703px;
    height: 260px;
    border-radius: 37px;
    transform: skew(0deg, -4.4deg);
}

.for-who-content {
    top: 60px;
    position: absolute;
    transform: skew(0deg, 4.4deg);
    display: inline-block;
}

.for-who-content-title {
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    font-family: "Roboto";
    text-transform: uppercase;
    line-height: 1.429;
}

.for-who-content-description {
    color: #fff;
    font-size: 14px;
    font-family: "Roboto";
    line-height: 1.429;
}

.sticky-right {
    position: absolute;
    right: 0;
}

.agency {
    display: inline-block;
    margin-top: -30px;
    width: 340px;
    height: 345px;
    background-image: url("../../images/agency-lg.png");
}

.business {
    display: inline-block;
    margin-top: -30px;
    width: 347px;
    height: 326px;
    background-image: url("../../images/business-lg.png");
}

.btn-pink {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    height: 27px;
    background-color: rgb(241, 121, 122);
    color: #ffffff;
    font-size: 16px;
    font-family: "Roboto";
    line-height: 27px;
    border-radius: 18px;
    text-align: center;
}

.cozily {
    display: inline-block;
    width: 85px;
    height: 90px;
    background-image: url("../../images/cozily-lg.png");
}

.simple {
    display: inline-block;
    width: 86px;
    height: 98px;
    background-image: url("../../images/simple-lg.png");
}

.free {
    display: inline-block;
    width: 81px;
    height: 99px;
    background-image: url("../../images/free-lg.png");
}

.airplane {
    display: inline-block;
    height: 109px;
    width: 193px;
    background-image: url("../../images/airplane-lg.png");
}

.step {
    height: 102px;
    width: 70px;
    display: inline;
}

.step-info {
    position: absolute;
    top: 10px;
    margin-left: 15px;
    display: inline;
}

.text-active {
!important;
    color: rgb(241, 121, 122);
}

.text-active:hover {
!important;
    color: rgb(241, 121, 122);
}

.sn-1 {
    display: inline-block;
    height: 102px;
    width: 70px;
    background: url("../../images/number-1-lg.png") no-repeat;
}

.sn-2 {
    display: inline-block;
    height: 100px;
    width: 69px;
    background: url("../../images/number-2-lg.png") no-repeat;
}

.sn-3 {
    height: 93px;
    width: 68px;
    display: inline-block;
    background: url("../../images/number-3-lg.png") no-repeat;
}

/****
 Feature
 */

.feature-images {
    float: left;
}

.feature-info {
    font-size: 16px;
    font-family: "Roboto";
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-align: left;
    margin-left: 15px;
    float: left;
}

.feature-audit {
    width: 180px;
}

.feature-visits {
    width: 150px;
}

.feature-search {
    width: 230px;
}

.feature-reject {
    width: 230px;
}

/***
Grey Box
 */
.grey-box {
    display: block;
    padding-top: 30px;
    width: 320px;
    height: 170px;
    box-shadow: 0px 29px 70px 0px rgba(176, 176, 156, 0.35);
    background-color: rgb(76, 83, 101);
    border-radius: 14px;
}

.grey-box-illustration {
    margin: 0 auto;
    width: 200px;
}

.grey-box-illustration-left {
    float: left;
}

.grey-box-illustration-right {
    width: 160px;
    padding-top: 10px;
    padding-left: 15px;
    float: left;
}

.grey-box-link {
    clear: left;
    padding-top: 10px;
    text-align: center;
}

.doc-img {
    width: 38px;
    height: 53px;
    background-image: url("../../images/doc-logo-lg.png");
    display: inline-block;
}

.grey-box-description {
    text-align: left;
    display: inline-block;
    font-size: 14.085px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    line-height: 1.2;
}

.grey-box-link-btn {
    display: inline-block;
    border-radius: 22px;
    background-color: rgb(241, 121, 122);
    width: 255px;
    height: 44px;
    font-size: 16px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    line-height: 44px;
}

.grey-box-link-btn:hover {
    color: #fff;
    text-decoration: none;
}

.reason-title-b {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

/**
 Manage changes
 */

.manage-changes {
    padding-top: 60px;
}

.manage-changes__padding {
    height: 85px;
}

.mc-goal {
    position: relative;
}

.manage-changes__container {
    padding-left: 25px;
}

.mc-goal__bad-phrase {
    height: 340px;
    width: 358px;
    background-image: url("../../images/reason-1-lg.png");
}

.mc-goal__sources {
    height: 336px;
    width: 376px;
    background-image: url("../../images/reason-2-lg.png");
}

.mc-goal__visits {
    height: 334px;
    width: 370px;
    background-image: url("../../images/reason-3-lg.png");
}

.mc-goal__content {
    font-family: "Roboto", sans-serif;
    color: rgb(0, 0, 0);
    line-height: 1.2;
}

.mc-goal__title {
    width: 200px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.mc-goal_avoid-right-image-title {
    width: 160px;
}

.mc-goal__description {
    width: 337px;
    font-size: 14px;
}

@media screen and (min-width: 871px) {
    .mc-goal {
        height: 340px;
    }

    .mc-goal__sources {
        position: absolute;
    }

    .mc-goal_avoid-right-image-description {
        width: 260px;
    }

    .manage-changes_negative-margin {
        margin-top: -69px;
        margin-bottom: -52px;
    }

    .mc-goal_content-left {
        left: 419px;
    }

    .mc-goal__content {
        position: absolute;
        top: 112px;
    }

    .mc-goal_revert .mc-goal__sources {
        right: 46px;
    }

    .mc-goal_revert .mc-goal__content {
        right: 409px;
    }
}

@media screen and (max-width: 870px) {
    .mc-goal {
        margin-bottom: 30px;
    }

    .mc-goal__bad-phrase {
        display: table;
        margin-left: auto;
        margin-right: auto;
    }

    .mc-goal__sources {
        display: table;
        margin-left: auto;
        margin-right: auto;
    }

    .mc-goal__visits {
        display: table;
        margin-left: auto;
        margin-right: auto;
    }

    .mc-goal__content {
        display: table;
        margin-left: auto;
        margin-right: auto;
    }
}

/**
 Service feature
*/

.service-feature {
    padding-left: 20px;
}

.service-feature_padding {
!important;
    padding-top: 80px;
}

/**
 for-who-section
 */

.for-who-section {
    position: relative;
    height: 791px;
}

.it-useful-for {
    margin-bottom: 102px;
    position: relative;
    width: 703px;
    height: 260px;
}

.it-useful-for__bg {
    top: 0;
    position: absolute;
    margin-top: 100px;
    background: #f1787a;
    width: 703px;
    height: 276px;
    border-radius: 37px;
    transform: skew(0deg, -4.4deg);
    z-index: -1;
}

.it-useful-for__title {
    position: absolute;
    top: 137px;
    left: 387px;
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.429;
}

.it-useful-for__description {
    position: absolute;
    top: 194px;
    left: 387px;
    width: 283px;
    color: #fff;
    font-size: 14px;
    line-height: 1.429;
}

.it-useful-for__agency {
    position: absolute;
    top: 87px;
    left: 19px;
    width: 340px;
    height: 345px;
    background-image: url("../../images/agency-lg.png");
}

.it-useful-for__business {
    position: absolute;
    top: 87px;
    left: 19px;
    width: 347px;
    height: 326px;
    background-image: url("../../images/business-lg.png");
}

.it-useful-for_float-right {
    float: right;
}

/*.it-useful-for_illustration-shadow {
    -webkit-box-shadow: -2px 6px 35px 0px rgba(223,71,96,0.84);
    -moz-box-shadow: -2px 6px 35px 0px rgba(223,71,96,0.84);
    box-shadow: -2px 6px 35px 0px rgba(223,71,96,0.84);
}*/

/**
feedback-addition-feature
 */

.addition-feature {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.feedback-addition-feature-section {
    padding-top: 75px;
}

.addition-feature__airplane {
    display: inline-block;
    height: 109px;
    width: 193px;
    background-image: url("../../images/airplane-lg.png");
    margin-left: 50px;
}

.addition-feature__request {
    display: inline-block;
}

.addition-feature__title {
    width: 200px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 7px;
}

.addition-feature__info {
    font-size: 14px;
    color: rgb(0, 0, 0);
    line-height: 1.2;
}

/**
it is easy
 */
.it-is-easy {
    padding-top: 100px;
}

.it-is-easy__justify {
    margin-top: 75px;
}

.easy-step {
    position: relative;
    height: 100px;
}

@media screen and (min-width: 1050px ) {
    .it-is-easy__justify {
        max-width: 1181px;
        width: 100%;
        display: -webkit-box; /* Android 4.3-, Safari */
        -webkit-box-pack: justify; /* Android 4.3-, Safari */
        display: flex;
        justify-content: space-between;
        text-align: justify;
        text-align-last: justify;
    }

    .easy-step {
        width: 280px;
        display: inline-block;
    }
}

@media screen and (max-width: 1050px ) {
    .easy-step {
        width: 280px;
        display: table;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }
}

.easy-step__step-icon {
    position: absolute;
}

.easy-step__title {
!important;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.2;
    top: 3px;
    left: 100px;
    position: absolute;
}

.easy-step__info {
!important;
    text-align: left;
    font-size: 14px;
    color: rgb(0, 0, 0);
    line-height: 1.2;
    top: 30px;
    left: 100px;
    position: absolute;
}

.easy-step_custom-margin {
    top: 50px;
}