footer {
    margin-top: 35px;
    height: 389px;
    position: relative;
}

.footer-back {
    position: absolute;
    height: 371px;
    width: 100%;
    background: url("../../images/footer-back-lg.png") center no-repeat;
    background-size: cover;
    bottom: 0;
}

.footer-up {
    position: absolute;
    height: 320px;
    width: 100%;
    background: url("../../images/footer-up-lg.png") center no-repeat;
    bottom: 0;
}

.footer-content-btn {
    margin-top: 20px;
}

.footer-logo {
    display: inline-block;
    width: 109px;
    height: 40px;
    background-image: url("../../images/footer-logo-lg.png");
    margin-top: 60px;
    margin-bottom: 40px;
}

.footer-content-contact {
    padding-top: 15px;
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
}

.footer-content {
    position: absolute;
    padding-top: 133px;
    width: 100%;
    text-align: center;
}

.footer-btn {
    font-size: 16px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 44px;
    text-align: center;
    display: inline-block;
    border-radius: 22px;
    background-color: rgb(241, 121, 122);
    box-shadow: 0px 14px 52.92px 1.08px rgba(23, 4, 43, 0.36);
    width: 180px;
    height: 44px;
}

.footer-btn:hover {
    color: #fff;
    text-decoration: none;
}