<div class="pull-right">
    <select id="directSearchPhrasesSelector">
        {{#each goals}}
            <option value="{{index}}" {{#if chosen}}selected{{/if}}>{{goalName}}</option>
        {{/each}}
    </select>
</div>

<div class="row">
    <div class="col-md-12">
                    <span style="font-size: 14px">
                        Отчет позволяет определить конверсионные фразы,
                        а так же фразы, перейдя по которыйм пользователи не
                        выполняли конверсий и уходили с сайта.
                    </span>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Успешные поисковые фразы</h3>
    </div>
</div>
<div class="table-scrollable">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Поисковая фраза</th>
            <th>Визиты</th>
            <th>Отказы</th>
            <th>Глубина просмотра</th>
            <th>Время на сайте</th>
            <th>Конверсия</th>
        </tr>
        </thead>
        <tbody>
        {{#each successPhrases}}
            <tr>
                <td>{{searchPhrase}}</td>
                <td>{{visits}}</td>
                <td>{{bounceRate}}</td>
                <td>{{pageDepth}}</td>
                <td>{{avgVisitDurationSeconds}}</td>
                <td>{{quality}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Неуспешные поисковые фразы</h3>
    </div>
</div>
<div class="table-scrollable">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Поисковая фраза</th>
            <th>Визиты</th>
            <th>Отказы</th>
            <th>Глубина просмотра</th>
            <th>Время на сайте</th>
            <th>Конверсия</th>
        </tr>
        </thead>
        <tbody>
        {{#each badPhrases}}
            <tr>
                <td>{{searchPhrase}}</td>
                <td>{{visits}}</td>
                <td>{{bounceRate}}</td>
                <td>{{pageDepth}}</td>
                <td>{{avgVisitDurationSeconds}}</td>
                <td>{{quality}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Комментарий </h3>
                    <span style="font-size: 14px">
                        Рекомендуем проверить запросы из списка "Неуспешные поисковые фразы".
                        Существует несколько причин низких показателей рекламы:
                        нецелевые запросы, нецелевые рекламные объявления,
                        недостаточно качественное изложение торгового предложения на посадочной странице.
                    </span>
    </div>
</div>
