<div class="row">
    <div class="col-md-6">
        <div id="visitsDuringMonthReport" style="height: 300px;"></div>
    </div>
    <div class="col-md-5 col-md-offset-1">
        <h3>За последний месяц</h3>
        <span style="font-size: 14px"><%= description %></span>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Комментарий </h3>
        <span style="font-size: 14px"><%= reason %></span>
    </div>
</div>
