<div class="row">
    <div class="col-md-8 col-md-offset-2 mt-wizard-padding">
        <div>
            <h2>Создание проекта</h2>
        </div>
        <div>
            <p>Выберите счетчик, который требуется проанализировать.</p>
        </div>
        <div class="row">
            <div class="col-md-5 loading">
                <img src="/images/loading.gif" />
            </div>
            <div id="project-selector" class="col-md-5 hidden">
                <div class="form-group">
                    <label for="project-list" class="control-label">Счётчик:</label>
                    <select id="project-list" class="bs-select form-control">
                    </select>
                </div>
            </div>
        </div>
        <div>
            <button type="button" class="btn green-meadow disabled" id="save">Получить отчёт</button>
        </div>
    </div>
</div>