<div class="row">
    <div class="col-md-8 col-md-offset-2 mt-wizard-padding">
        <div>
            <h2>Завершение</h2>
        </div>
        <div>
            <p>
                Ваш логин и пароль был отправлен на почту.
            </p>
        </div>
        <div>
            <a href="/login.html">
                <button type="button" class="btn green-meadow" id="go-to-login">Перейти к отчёту</button>
            </a>
        </div>
    </div>
</div>